@font-face{
	font-family: lato;
	src: url(lato/Lato-Regular.ttf) format("truetype");
	font-weight: 400;
}
@font-face{
	font-family: lato;
	src: url(lato/Lato-Light.ttf) format("truetype");
	font-weight: 200;
}
@font-face{
	font-family: lato;
	src: url(lato/Lato-Hairline.ttf) format("truetype");
	font-weight: 100;
}
@font-face{
	font-family: lato;
	src: url(lato/Lato-Bold.ttf) format("truetype");
	font-weight: 500;
}


